body {
    background-color: rgb(4, 6, 49);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.todo-container {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffff;
    border-radius: 12px;
    font-family: sans-serif;
}

.todo-header {
    text-align: center;
    color: rgb(52, 51, 51);
}

.input-group{
    display: flex;
    gap: 10px;
    margin: 20px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 2px solid wheat;
    border-radius: 6px;
    outline: none;
}

.add-btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    background: rgb(39, 38, 38);
    color: white;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid wheat;
}

.todo-text {
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}